SECRETS="$(sops decrypt secrets.json)"

export ZITADEL_CLIENT_ID="$(echo $SECRETS | jq -r '.zitadel_client_id')"
export ZITADEL_CLIENT_SECRET="$(echo $SECRETS | jq -r '.zitadel_client_secret')"
export ZITADEL_BASE_URL="$(echo $SECRETS | jq -r '.zitadel_base_url')"
export ZITADEL_REDIRECT_URI="$(echo $SECRETS | jq -r '.zitadel_redirect_uri')"
export ZITADEL_AUTHORIZE_URI="$(echo $SECRETS | jq -r '.zitadel_authorize_uri')"
export ZITADEL_USER_URL="$(echo $SECRETS | jq -r '.zitadel_user_url')"
export ZITADEL_TOKEN_URL="$(echo $SECRETS | jq -r '.zitadel_token_url')"
export ZITADEL_REVOKE_URL="$(echo $SECRETS | jq -r '.zitadel_revoke_url')"
export ZITADEL_TRUSTED_AUDIENCES="$(echo $SECRETS | jq -r '.zitadel_trusted_audiences')"
export ZITADEL_SCOPE="$(echo $SECRETS | jq -r '.zitadel_scope')"
