<main class="h-[calc(100vh-96px)]">
  <%= @inner_content %>
</main>
<footer class="w-full text-xl">
  <div class="flex items-center justify-center h-24 gap-x-6 ">
    <a href="https://github.com/ljgago/shortlink-ex" target="_blank" class="h-6">
      <strong>Github</strong>
    </a>
    <._dark_mode_toggle class="self-center" />
  </div>
</footer>
