<header class="w-full text-xl">
  <div class="flex items-center justify-center h-16 gap-x-12 ">
    <._github_icon />
    <._dark_mode_toggle/>
  </div>
</header>
<main class="h-[calc(100dvh-96px)]">
  <%= @inner_content %>
</main>
