<div class="h-[calc(100vh-96px)] flex flex-col">
  <h1 class="py-20 text-7xl text-center w-full">
    Link Not Found
  </h1>
  <div class="text-center font-bold text-4xl">
    <a href="/" class="flex justify-center gap-3">
      <.icon name="hero-arrow-left-circle" class="h-10 w-10"/> Back to home
    </a>
  </div>
</div>
